<div class="content">
    <div class="mat-card-content">
        <h2>Welcome to the ToDo List Application</h2>
        <p>
          The ToDo List application is a powerful task management tool designed to help you stay organized and productive. With this application, you can easily create, delete, and edit notes to keep track of your tasks and responsibilities.
        </p>
        <p>
          Whether you're managing personal projects, work assignments, or educational tasks, the ToDo List application provides advanced features such as priority settings, status-based notifications, and comprehensive task tracking to streamline your workflow and optimize your productivity.
        </p>
        <p>
          Developed as a diploma project, this application showcases the use of Angular Material for a sleek and intuitive user interface.
        </p>
        <p>
          Get started today and experience the benefits of organized task management with the ToDo List application!
        </p>
    </div>     
</div>