<div class="content">
    <div class="mat-card-content">
        <h2>Головна сторінка вебдодатку ToDo List</h2>
        <p>
          Додаток ToDo List — це потужний інструмент керування завданнями,
          який допоможе вам залишатися організованими та продуктивними.
          За допомогою цієї програми ви можете легко створювати,
          видаляти та редагувати нотатки, щоб стежити за своїми завданнями та обов’язками.
        </p>
        <p>
          Незалежно від того, керуєте ви особистими проектами, робочими дорученнями чи освітніми завданнями,
           вебдодаток ToDo List надає такі розширені функції, як налаштування пріоритетів
           , сповіщення на основі статусу та комплексне відстеження завдань,
            щоб оптимізувати робочий процес і оптимізувати вашу продуктивність.
        </p>
        <p>
          Цей вебдодаток, розроблений
           як дипломний проект, демонструє використання Angular та бібліотеку
            Material UI для елегантного та інтуїтивно зрозумілого інтерфейсу користувача.
        </p>
        <p>
          Почніть сьогодні та відчуйте переваги організованого керування завданнями за допомогою вебдодатку ToDo List!
        </p>
    </div>     
</div>