.logo {
    margin-left: 25px;
}

.todo__title {
    margin-left: 20px;
}

.btn__signup {
    margin-left: 1450px;
    margin-right: 50px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
  
.footer-content {
    text-align: center;
    padding: 8px;
}

.footer__span{
    margin-left: 800px;
}
  