<mat-toolbar color="primary" class="mat-elevation-z8">
    <mat-icon class="logo" routerLink="/home">home</mat-icon>
    <span class="todo__title">ToDo List</span>
    <span class="spacer"></span>
    <button class="btn__signup" mat-raised-button routerLink="/sign-up">Sign Up</button>
    <button class="btn__signin" mat-raised-button routerLink="/sign-in">Sign In</button>
</mat-toolbar>
<router-outlet></router-outlet>
<mat-toolbar color="primary" class="footer">
    <div class="footer-content">
        <span class="footer__span">Website for creating a tasks 2023</span>
    </div>
</mat-toolbar>
  