* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: #f6f6f6;
}

.container {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1 {
	font-size: 36px;
	margin-top: 0;
}

input[type="text"] {
	display: block;
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	font-size: 18px;
	border-radius: 5px;
	border: none;
}

.task-list {
	padding: 0;
	list-style: none;
}

.task-list li {
	padding: 10px;
	margin-bottom: 10px;
	background-color: #f6f6f6;
	border-radius: 5px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.task-list li.completed {
	background-color: #d9d9d9;
	text-decoration: line-through;
}

.task-list li button {
	background-color: #fff;
	border: none;
	color: #d33;
	font-size: 16px;
	float: right;
	cursor: pointer;
}