# ASP.NET Core
bin/
obj/

# Visual Studio Code
.vscode/

# Visual Studio
*.userprefs
*.suo
*.csproj.user

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUNIT
*.VisualState.xml
TestResult.xml

# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

# WiX
*.wixproj
*.wixobj
*.wixpdb
*.zip
*.exe
*.msi
*.msm
*.msp
*.pdb
*.ipdb
*.opendb
*.VC.db
*.VC.VC.opendb

# Publishing
_PublishedWebsites/
pubxml.bak
*.Publish.xml
*.deploy.cmd
*.deploy-readme.txt
*.cmd.deploy
*.cmd.*.deploy.cmdline
*.cmd.*.deploy.*
*.publishproj
