<div class="center-container">
  <ng-container *ngIf="!loading">
    <form [formGroup]="registrationForm" class="registration-form" (ngSubmit)="onSubmit()">
      <h1>Зареєструватися</h1>

      <!-- First Name -->
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Ім'я" formControlName="firstName">
        <mat-error *ngIf="registrationForm.controls.firstName.invalid && registrationForm.controls.firstName.touched && registrationForm.controls.firstName.errors">
          <mat-error *ngIf="registrationForm.controls.firstName.errors['required']">
            Необхідно вказати ім'я
          </mat-error>
        </mat-error>
      </mat-form-field>

      <!-- Last Name -->
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Прізвище" formControlName="lastName">
        <mat-error *ngIf="registrationForm.controls.lastName.invalid && registrationForm.controls.lastName.touched && registrationForm.controls.lastName.errors">
          <mat-error *ngIf="registrationForm.controls.lastName.errors['required']">
            Необхідно вказати прізвище
          </mat-error>
        </mat-error>
      </mat-form-field>

      <!-- Email -->
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Електронна пошта" formControlName="email">
        <mat-error *ngIf="registrationForm.controls.email.invalid && registrationForm.controls.email.touched && registrationForm.controls.email.errors">
          <mat-error *ngIf="registrationForm.controls.email.errors['required']">
            Необхідно вказати адресу електронної пошти
          </mat-error>
          <mat-error *ngIf="registrationForm.controls.email.errors['email']">
            Електронна адреса недійсна
          </mat-error>
        </mat-error>
      </mat-form-field>

      <!-- Password -->
      <mat-form-field class="example-full-width">
        <input matInput type="password" placeholder="Пароль" formControlName="password">
        <mat-error *ngIf="registrationForm.controls.password.invalid && registrationForm.controls.password.touched && registrationForm.controls.password.errors">
          <mat-error *ngIf="registrationForm.controls.password.errors['required']">
            Необхідно ввести пароль
          </mat-error>
          <mat-error *ngIf="registrationForm.controls.password.errors['minlength']">
            Пароль має бути не менше 8 символів
          </mat-error>
        </mat-error>
      </mat-form-field>

      <!-- Confirm Password -->
      <mat-form-field class="example-full-width">
        <input matInput type="password" placeholder="Підтвердьте пароль" formControlName="confirmPassword">
        <mat-error *ngIf="registrationForm.controls.confirmPassword.invalid && registrationForm.controls.confirmPassword.touched && registrationForm.controls.confirmPassword.errors">
          <mat-error *ngIf="registrationForm.controls.confirmPassword.errors['required']">
            Потрібно підтвердити пароль
          </mat-error>
        </mat-error>
      </mat-form-field>

      <!-- Submit Button -->
      <button class="button" mat-raised-button color="primary" type="submit" [disabled]="registrationForm.invalid">Зареєструватися</button>
    </form>
  </ng-container>

  <ng-container *ngIf="loading">
    <div class="content">
      <app-loader></app-loader>
    </div>
  </ng-container>
</div>
