.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.registration-form {
  width: 350px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
  border: 2px solid #ccc;
}

.registration-form h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.example-full-width {
  width: 100%;
  margin-bottom: 35px;
}


.button {
  margin-top: 5px;
  width: 100%;
}
