<div class="container">
    <mat-card fxLayout="column" fxLayoutAlign="center center">
        <mat-card-header>
          <mat-card-title>Welcome to ToDo List web site</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>This is a description of what our app does.</p>
          <p>To get started, follow these steps:</p>
          <ol>
            <li>Step 1: Register an account (if you are not registered)</li>
            <li>Step 2: Log in to access your personalized dashboard</li>
            <li>Step 3: Use the features of the app to manage your tasks, organize your data, and more</li>
          </ol>
          <p>Feel free to explore the different sections and features of the app, and don't hesitate to contact us if you have any questions or need assistance.</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-icon-button>
            <mat-icon>email</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>phone</mat-icon>
          </button>
        </mat-card-actions>
    </mat-card>
</div>  