.container {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.add__btn {
    margin-right: 10px;
}

.all__btn {
    margin-right: 10px;
}

.completed__btn {
    margin-right: 10px;
}

.failed__btn {
    margin-right: 10px;
}

.content {
    margin-bottom: 100px;
}

.edit__btn {
    width: 10px;
    margin-right: 10px;
}

.search__btn {
    margin-left: 20px;
}