.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  
.signin-form {
    margin: 0 auto;
    margin-top: 200px;
    width: 300px;
    text-align: center;
}
  
.form-field {
    width: 350px;
    margin-bottom: 16px;
}
  
.button-container {
    margin-top: 16px;
}

.btn__submit {
    font-size: 24px;
    width: 350px;
    height: 70px;
}