<form class="signin-form" fxLayout="column" fxLayoutAlign="center center" (ngSubmit)="authentication(loginRequest)">  
    <mat-form-field class="form-field">
      <input matInput placeholder="Email" name="email" [(ngModel)]="loginRequest.email">
    </mat-form-field>
  
    <mat-form-field class="form-field">
      <input matInput type="password" placeholder="Password" name="password" [(ngModel)]="loginRequest.password">
    </mat-form-field>
  
    <button class="btn__submit" mat-raised-button color="primary" type="submit">Sign In</button>
    <a id="link__a" class="mat-body-1" routerLink="/sign-in">Sign Up</a>
</form>