<ng-container *ngIf="!isUserLogged(); else loggedIn;">
    <mat-toolbar color="primary" class="mat-elevation-z8">
        <mat-icon routerLink="/home">home</mat-icon>
        <span class="title">ToDo List</span>
        <span class="spacer"></span>
        <button class="btn__signup" mat-raised-button routerLink="/registration">Sign Up</button>
        <button class="btn__signin" mat-raised-button routerLink="/login">Sign In</button>
    </mat-toolbar>
    <router-outlet></router-outlet>
</ng-container>

<ng-template #loggedIn>
    <mat-toolbar color="primary" class="mat-elevation-z8">
        <button (click)="drawer.toggle()" mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
        <mat-icon routerLink="/home">home</mat-icon>
        <span class="title">ToDo List</span>
        <span class="spacer__logout"></span>
        <span class="user__info">Hello: {{fullName}}</span>
        <button class="btn__logout" mat-raised-button (click)="logout();">Logout</button>
    </mat-toolbar>

    <mat-drawer-container autosize>
        <mat-drawer #drawer opened="true" mode="side" position="start">
        <mat-nav-list>
            <mat-list-item>
                <button routerLink="/home" mat-button><mat-icon>home</mat-icon>Home</button>
            </mat-list-item>
            <mat-list-item>
                <button routerLink="/dashboard" mat-button><mat-icon>dashboard</mat-icon>Dashboard</button>
            </mat-list-item>
            <mat-list-item>
              <button (click)="openModal();" mat-button><mat-icon>create</mat-icon>Create note</button>
            </mat-list-item>
        </mat-nav-list>
        </mat-drawer>
        <mat-drawer-content>
            <div style="text-align: center;min-height: 600px;">
                <router-outlet></router-outlet>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</ng-template>
