.title {
    margin-left: 10px;
}

.spacer{
    margin-left: 1500px;
}

.btn__signup {
    margin-right: 20px;
}

.btn__signin {
    margin-right: 20px;
}

.btn__logout {
    margin-left: 100px;
}

.spacer__logout{
    margin-left: 1400px;
}

.user__info{
    margin-left: 800px;
}
