<div class="center-container">
    <ng-container *ngIf="!loading">
      <form [formGroup]="loginForm" class="registration-form" (ngSubmit)="onSubmit()">
        <h1>Увійти</h1>

        <!-- Email -->
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Електронна пошта" formControlName="email">
          <mat-error *ngIf="loginForm.controls.email.invalid && loginForm.controls.email.touched && loginForm.controls.email.errors">
            <mat-error *ngIf="loginForm.controls.email.errors['required']">
              Необхідно вказати адресу електронної пошти
            </mat-error>
            <mat-error *ngIf="loginForm.controls.email.errors['email']">
              Електронна адреса недійсна
            </mat-error>
          </mat-error>
        </mat-form-field>

        <!-- Password -->
        <mat-form-field class="example-full-width">
          <input matInput type="password" placeholder="Пароль" formControlName="password">
          <mat-error *ngIf="loginForm.controls.password.invalid && loginForm.controls.password.touched && loginForm.controls.password.errors">
            <mat-error *ngIf="loginForm.controls.password.errors['required']">
              Необхідно ввести пароль
            </mat-error>
            <mat-error *ngIf="loginForm.controls.password.errors['minlength']">
              Пароль має бути не менше 8 символів
            </mat-error>
          </mat-error>
        </mat-form-field>

        <!-- Submit Button -->
        <button class="button" mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Увійти</button>
      </form>
    </ng-container>
    <ng-container *ngIf="loading">
      <div class="content">
        <app-loader></app-loader>
      </div>
    </ng-container>
</div>
