.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.login-form {
  width: 300px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
  border: 2px solid #ccc;
}

.login-form h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.example-full-width {
  width: 100%;
  margin-bottom: 15px;
}

.button {
  width: 100%;
}
