<div class="container">
  <ng-container *ngIf="!loading">
    <form class="note__form" [formGroup]="noteForm" (ngSubmit)="onSubmit();">
      <h1>{{ actionTranslations[data.action] }}</h1>

      <mat-form-field class="title__field">
        <mat-label>Назва</mat-label>
        <input matInput placeholder="Назва" formControlName="title">
        <mat-error *ngIf="noteForm.controls.title.invalid && noteForm.controls.title.touched && noteForm.controls.title.errors">
        </mat-error>
      </mat-form-field>

      <mat-form-field class="description__field">
        <mat-label>Опис</mat-label>
        <textarea matInput placeholder="Опис нотатки" formControlName="description"></textarea>
      </mat-form-field>

      <mat-form-field class="priority__field">
        <mat-label>Приорітет</mat-label>
        <mat-select formControlName="priority" [(value)]="priority">
          <mat-option *ngFor="let e of enumValues(priorityEnum)" [value]="e">{{ e | priority }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="deadline__field">
        <mat-label>Дедлайн</mat-label>
        <input matInput formControlName="deadline" [matDatepicker]="picker" [min]="minDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <button class="button__submit" mat-raised-button color="primary" type="submit" [disabled]="noteForm.invalid">Надіслати</button>
    </form>
  </ng-container>

  <ng-container *ngIf="loading">
    <div class="content__loader">
      <app-loader></app-loader>
    </div>
  </ng-container>
</div>
