.content {
    width: 730px;
    height: 550px;
    padding-top: 100px;
    padding-left: 100px;
}

.row {
    display: flex;
    gap: 10px;
}

.bigger-input {
    width: 600px;
}

.save__btn {
    margin-left: 10px;
}
