<div class="content">
    <div class="mat-dialog-title">
        <h1>Task form</h1>
    </div>
    <div class="mat-dialog-content">
       <div class="row">
            <mat-form-field class="bigger-input" appearance="outline">
                <mat-label>Title</mat-label>
                <input class="bigger-input" name="title" matInput>
            </mat-form-field>
       </div>
    
       <div class="row">
            <mat-form-field class="bigger-input" appearance="outline">
                <mat-label>Description</mat-label>
                <textarea name="description" matInput></textarea>
            </mat-form-field>
      </div>
      
    
       <div class="row">
            <mat-form-field class="bigger-input" appearance="outline">
                <mat-label>Priority</mat-label>
                <mat-select>
                    <mat-option value="1">Low</mat-option>
                    <mat-option value="2">Medium</mat-option>
                    <mat-option value="3">Hard</mat-option>
                </mat-select>
            </mat-form-field>
      </div>
      
    
       <div class="row">
            <mat-form-field class="bigger-input" appearance="outline">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" name="deadLine">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
       </div>
    
    </div>
    <div class="mat-dialog-actions">
        <button mat-raised-button [mat-dialog-close]="false">Cancel</button>
        <button class="save__btn" mat-raised-button color="primary">Save</button>
    </div>
</div>