.logo {
    margin-left: 25px;
}

.todo__title {
    margin-left: 20px;
}


.btn__signup {
    margin-left: 1520px;
    margin-right: 20px;
}

.fullName__span{
    margin-left: 1400px;
    margin-right: 30px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
}

  
.footer-content {
    text-align: center;
    padding: 8px;
}

.footer__span{
    margin-left: 800px;
}
  